doctype html
html(ng-app="app")
  head
    title= title
    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    // STYLES
    link(rel="stylesheet", href="/linker/styles/font-awesome.css")
    link(rel="stylesheet", href="/linker/styles/bootstrap.css")
    link(rel="stylesheet", href="/vendor/ag-grid/dist/angular-grid.css")
    link(rel="stylesheet", href="/vendor/ag-grid/dist/theme-dark.css")
    link(rel="stylesheet", href="/vendor/ag-grid/dist/theme-fresh.css")
    link(rel="stylesheet", href="/vendor/angular-bootstrap-nav-tree/dist/abn_tree.css")
    link(rel="stylesheet", href="/vendor/angular-carousel/dist/angular-carousel.css")
    link(rel="stylesheet", href="/vendor/angular-ui-grid/ui-grid.css")
    link(rel="stylesheet", href="/vendor/angular-ui-grid/ui-grid.min.css")
    link(rel="stylesheet", href="/vendor/angular-ui-select/dist/select.css")
    link(rel="stylesheet", href="/vendor/angular-xeditable/dist/css/xeditable.css")
    link(rel="stylesheet", href="/vendor/angularjs-toaster/toaster.css")
    link(rel="stylesheet", href="/vendor/animate.css")
    link(rel="stylesheet", href="/vendor/animate.css/animate.min.css")
    link(rel="stylesheet", href="/vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.css")
    link(rel="stylesheet", href="/vendor/bootstrap-tour/build/css/bootstrap-tour.css")
    link(rel="stylesheet", href="/vendor/chartist/dist/chartist.min.css")
    link(rel="stylesheet", href="/vendor/chosen_v1.2.0/chosen.min.css")
    link(rel="stylesheet", href="/vendor/codemirror/lib/codemirror.css")
    link(rel="stylesheet", href="/vendor/codemirror/mode/tiddlywiki/tiddlywiki.css")
    link(rel="stylesheet", href="/vendor/codemirror/mode/tiki/tiki.css")
    link(rel="stylesheet", href="/vendor/codemirror/theme/3024-day.css")
    link(rel="stylesheet", href="/vendor/codemirror/theme/3024-night.css")
    link(rel="stylesheet", href="/vendor/codemirror/theme/ambiance-mobile.css")
    link(rel="stylesheet", href="/vendor/codemirror/theme/ambiance.css")
    link(rel="stylesheet", href="/vendor/codemirror/theme/base16-dark.css")
    link(rel="stylesheet", href="/vendor/codemirror/theme/base16-light.css")
    link(rel="stylesheet", href="/vendor/codemirror/theme/blackboard.css")
    link(rel="stylesheet", href="/vendor/codemirror/theme/cobalt.css")
    link(rel="stylesheet", href="/vendor/codemirror/theme/colorforth.css")
    link(rel="stylesheet", href="/vendor/codemirror/theme/eclipse.css")
    link(rel="stylesheet", href="/vendor/codemirror/theme/elegant.css")
    link(rel="stylesheet", href="/vendor/codemirror/theme/erlang-dark.css")
    link(rel="stylesheet", href="/vendor/codemirror/theme/lesser-dark.css")
    link(rel="stylesheet", href="/vendor/codemirror/theme/mbo.css")
    link(rel="stylesheet", href="/vendor/codemirror/theme/mdn-like.css")
    link(rel="stylesheet", href="/vendor/codemirror/theme/midnight.css")
    link(rel="stylesheet", href="/vendor/codemirror/theme/monokai.css")
    link(rel="stylesheet", href="/vendor/codemirror/theme/neat.css")
    link(rel="stylesheet", href="/vendor/codemirror/theme/neo.css")
    link(rel="stylesheet", href="/vendor/codemirror/theme/night.css")
    link(rel="stylesheet", href="/vendor/codemirror/theme/paraiso-dark.css")
    link(rel="stylesheet", href="/vendor/codemirror/theme/paraiso-light.css")
    link(rel="stylesheet", href="/vendor/codemirror/theme/pastel-on-dark.css")
    link(rel="stylesheet", href="/vendor/codemirror/theme/rubyblue.css")
    link(rel="stylesheet", href="/vendor/codemirror/theme/solarized.css")
    link(rel="stylesheet", href="/vendor/codemirror/theme/the-matrix.css")
    link(rel="stylesheet", href="/vendor/codemirror/theme/tomorrow-night-bright.css")
    link(rel="stylesheet", href="/vendor/codemirror/theme/tomorrow-night-eighties.css")
    link(rel="stylesheet", href="/vendor/codemirror/theme/twilight.css")
    link(rel="stylesheet", href="/vendor/codemirror/theme/vibrant-ink.css")
    link(rel="stylesheet", href="/vendor/codemirror/theme/xq-dark.css")
    link(rel="stylesheet", href="/vendor/codemirror/theme/xq-light.css")
    link(rel="stylesheet", href="/vendor/codemirror/theme/zenburn.css")
    link(rel="stylesheet", href="/vendor/datatable-bootstrap/css/dataTables.bootstrap.css")
    link(rel="stylesheet", href="/vendor/datatables/media/css/jquery.dataTables.css")
    link(rel="stylesheet", href="/vendor/fontawesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="/vendor/fullcalendar/dist/fullcalendar.css")
    link(rel="stylesheet", href="/vendor/ika.jvectormap/jquery-jvectormap-1.2.2.css")
    link(rel="stylesheet", href="/vendor/jqcloud2/dist/jqcloud.css")
    link(rel="stylesheet", href="/vendor/loaders.css")
    link(rel="stylesheet", href="/vendor/loaders.css/loaders.css")
    link(rel="stylesheet", href="/vendor/morris.js/morris.css")
    link(rel="stylesheet", href="/vendor/ng-grid/ng-grid.css")
    link(rel="stylesheet", href="/vendor/ng-img-crop/compile/unminified/ng-img-crop.css")
    link(rel="stylesheet", href="/vendor/ng-table/dist/ng-table.min.css")
    link(rel="stylesheet", href="/vendor/ngDialog/css/ngDialog-theme-default.min.css")
    link(rel="stylesheet", href="/vendor/ngDialog/css/ngDialog.min.css")
    link(rel="stylesheet", href="/vendor/rickshaw/rickshaw.min.css")
    link(rel="stylesheet", href="/vendor/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css")
    link(rel="stylesheet", href="/vendor/simple-line-icons/css/simple-line-icons.css")
    link(rel="stylesheet", href="/vendor/spinkit/css/spinkit.css")
    link(rel="stylesheet", href="/vendor/sweetalert/dist/sweetalert.css")
    link(rel="stylesheet", href="/vendor/textAngular/dist/textAngular.css")
    link(rel="stylesheet", href="/vendor/textAngular/src/textAngular.css")
    link(rel="stylesheet", href="/vendor/weather-icons/css/weather-icons.min.css")
    link(rel="stylesheet", href="/vendor/whirl/dist/whirl.css")
    // STYLES END
    block styles

  body
    block body

    script(type="text/ng-template", id="errorModalContent.html")
      .modal-body
        .alert.alert-danger.no-margin-bot
          div: strong Error:
          div {{error.message}}

    // SCRIPTS
    script(type="text/javascript", src="/linker/js/angular.js")
    script(type="text/javascript", src="/linker/js/ui-bootstrap.js")
    script(type="text/javascript", src="/linker/js/ui-bootstrap-tpls.js")
    script(type="text/javascript", src="/linker/js/angular-socket.io.js")
    script(type="text/javascript", src="/linker/js/angular-sails.io.js")
    script(type="text/javascript", src="/js/dependencies/sails.io.js")
    script(type="text/javascript", src="/linker/js/app.js")
    script(type="text/javascript", src="/linker/js/angular-toggle-switch.js")
    script(type="text/javascript", src="/linker/js/controllers/restCtrl.js")
    script(type="text/javascript", src="/linker/js/controllers/sailsSocketCtrl.js")
    script(type="text/javascript", src="/linker/js/controllers/todoCtrl.js")
    script(type="text/javascript", src="/linker/js/services/sailsSocket.js")
    script(type="text/javascript", src="/vendor/Chart.js")
    script(type="text/javascript", src="/vendor/Chart.js/Chart.js")
    script(type="text/javascript", src="/vendor/Flot/jquery.flot.categories.js")
    script(type="text/javascript", src="/vendor/Flot/jquery.flot.js")
    script(type="text/javascript", src="/vendor/Flot/jquery.flot.pie.js")
    script(type="text/javascript", src="/vendor/Flot/jquery.flot.resize.js")
    script(type="text/javascript", src="/vendor/Flot/jquery.flot.time.js")
    script(type="text/javascript", src="/vendor/ag-grid/dist/angular-grid.js")
    script(type="text/javascript", src="/vendor/angular-bootstrap-nav-tree/dist/abn_tree_directive.js")
    script(type="text/javascript", src="/vendor/angular-bootstrap-slider/slider.js")
    script(type="text/javascript", src="/vendor/angular-bootstrap-tour/dist/angular-bootstrap-tour.js")
    script(type="text/javascript", src="/vendor/angular-carousel/dist/angular-carousel.js")
    script(type="text/javascript", src="/vendor/angular-chartist.js")
    script(type="text/javascript", src="/vendor/angular-chartist.js/dist/angular-chartist.js")
    script(type="text/javascript", src="/vendor/angular-chosen-localytics/chosen.js")
    script(type="text/javascript", src="/vendor/angular-datatables/dist/angular-datatables.js")
    script(type="text/javascript", src="/vendor/angular-deckgrid/angular-deckgrid.js")
    script(type="text/javascript", src="/vendor/angular-file-upload/angular-file-upload.js")
    script(type="text/javascript", src="/vendor/angular-i18n/angular-locale_ar.js")
    script(type="text/javascript", src="/vendor/angular-i18n/angular-locale_de.js")
    script(type="text/javascript", src="/vendor/angular-i18n/angular-locale_en.js")
    script(type="text/javascript", src="/vendor/angular-i18n/angular-locale_es.js")
    script(type="text/javascript", src="/vendor/angular-i18n/angular-locale_fr.js")
    script(type="text/javascript", src="/vendor/angular-i18n/angular-locale_ja.js")
    script(type="text/javascript", src="/vendor/angular-i18n/angular-locale_ko.js")
    script(type="text/javascript", src="/vendor/angular-i18n/angular-locale_zh.js")
    script(type="text/javascript", src="/vendor/angular-jqcloud/angular-jqcloud.js")
    script(type="text/javascript", src="/vendor/angular-rickshaw/rickshaw.js")
    script(type="text/javascript", src="/vendor/angular-sweetalert/SweetAlert.js")
    script(type="text/javascript", src="/vendor/angular-ui-codemirror/ui-codemirror.js")
    script(type="text/javascript", src="/vendor/angular-ui-grid/ui-grid.js")
    script(type="text/javascript", src="/vendor/angular-ui-grid/ui-grid.min.js")
    script(type="text/javascript", src="/vendor/angular-ui-map/ui-map.js")
    script(type="text/javascript", src="/vendor/angular-ui-select/dist/select.js")
    script(type="text/javascript", src="/vendor/angular-xeditable/dist/js/xeditable.js")
    script(type="text/javascript", src="/vendor/angularjs-toaster/toaster.js")
    script(type="text/javascript", src="/vendor/animo.js")
    script(type="text/javascript", src="/vendor/animo.js/animo.js")
    script(type="text/javascript", src="/vendor/bootstrap-filestyle/src/bootstrap-filestyle.js")
    script(type="text/javascript", src="/vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js")
    script(type="text/javascript", src="/vendor/bootstrap-tour/build/js/bootstrap-tour-standalone.js")
    script(type="text/javascript", src="/vendor/bootstrap-wysiwyg/bootstrap-wysiwyg.js")
    script(type="text/javascript", src="/vendor/bootstrap-wysiwyg/external/jquery.hotkeys.js")
    script(type="text/javascript", src="/vendor/chartist/dist/chartist.js")
    script(type="text/javascript", src="/vendor/chosen_v1.2.0/chosen.jquery.min.js")
    script(type="text/javascript", src="/vendor/codemirror/addon/mode/overlay.js")
    script(type="text/javascript", src="/vendor/codemirror/lib/codemirror.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/apl/apl.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/asterisk/asterisk.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/clike/clike.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/clojure/clojure.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/cobol/cobol.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/coffeescript/coffeescript.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/commonlisp/commonlisp.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/css/css.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/css/less_test.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/css/scss_test.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/css/test.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/cypher/cypher.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/d/d.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/dart/dart.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/diff/diff.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/django/django.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/dockerfile/dockerfile.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/dtd/dtd.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/dylan/dylan.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/ebnf/ebnf.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/ecl/ecl.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/eiffel/eiffel.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/erlang/erlang.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/forth/forth.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/fortran/fortran.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/gas/gas.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/gfm/gfm.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/gfm/test.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/gherkin/gherkin.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/go/go.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/groovy/groovy.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/haml/haml.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/haml/test.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/haskell/haskell.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/haxe/haxe.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/htmlembedded/htmlembedded.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/htmlmixed/htmlmixed.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/http/http.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/idl/idl.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/jade/jade.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/javascript/javascript.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/javascript/test.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/jinja2/jinja2.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/julia/julia.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/kotlin/kotlin.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/livescript/livescript.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/lua/lua.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/markdown/markdown.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/markdown/test.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/meta.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/mirc/mirc.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/mllike/mllike.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/modelica/modelica.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/nginx/nginx.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/ntriples/ntriples.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/octave/octave.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/pascal/pascal.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/pegjs/pegjs.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/perl/perl.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/php/php.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/php/test.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/pig/pig.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/properties/properties.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/puppet/puppet.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/python/python.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/q/q.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/r/r.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/rpm/rpm.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/rst/rst.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/ruby/ruby.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/ruby/test.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/rust/rust.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/sass/sass.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/scheme/scheme.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/shell/shell.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/shell/test.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/sieve/sieve.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/slim/slim.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/slim/test.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/smalltalk/smalltalk.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/smarty/smarty.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/smartymixed/smartymixed.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/solr/solr.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/soy/soy.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/sparql/sparql.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/spreadsheet/spreadsheet.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/sql/sql.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/stex/stex.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/stex/test.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/stylus/stylus.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/tcl/tcl.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/textile/test.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/textile/textile.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/tiddlywiki/tiddlywiki.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/tiki/tiki.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/toml/toml.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/tornado/tornado.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/turtle/turtle.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/vb/vb.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/vbscript/vbscript.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/velocity/velocity.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/verilog/test.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/verilog/verilog.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/xml/test.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/xml/xml.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/xquery/test.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/xquery/xquery.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/yaml/yaml.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/z80/z80.js")
    script(type="text/javascript", src="/vendor/d3/d3.min.js")
    script(type="text/javascript", src="/vendor/datatable-bootstrap/js/dataTables.bootstrap.js")
    script(type="text/javascript", src="/vendor/datatable-bootstrap/js/dataTables.bootstrapPagination.js")
    script(type="text/javascript", src="/vendor/datatables/media/js/jquery.dataTables.js")
    script(type="text/javascript", src="/vendor/fastclick/lib/fastclick.js")
    script(type="text/javascript", src="/vendor/flatdoc/flatdoc.js")
    script(type="text/javascript", src="/vendor/flot-spline/js/jquery.flot.spline.min.js")
    script(type="text/javascript", src="/vendor/flot.tooltip/js/jquery.flot.tooltip.min.js")
    script(type="text/javascript", src="/vendor/fullcalendar/dist/fullcalendar.min.js")
    script(type="text/javascript", src="/vendor/fullcalendar/dist/gcal.js")
    script(type="text/javascript", src="/vendor/html.sortable/dist/html.sortable.angular.js")
    script(type="text/javascript", src="/vendor/html.sortable/dist/html.sortable.js")
    script(type="text/javascript", src="/vendor/ika.jvectormap/jquery-jvectormap-1.2.2.min.js")
    script(type="text/javascript", src="/vendor/ika.jvectormap/jquery-jvectormap-us-mill-en.js")
    script(type="text/javascript", src="/vendor/ika.jvectormap/jquery-jvectormap-world-mill-en.js")
    script(type="text/javascript", src="/vendor/jqcloud2/dist/jqcloud.js")
    script(type="text/javascript", src="/vendor/jquery-classyloader/js/jquery.classyloader.min.js")
    script(type="text/javascript", src="/vendor/jquery-ui/jquery-ui.min.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/accordion.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/autocomplete.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/button.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/core.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/datepicker.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/dialog.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/draggable.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/droppable.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/effect-blind.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/effect-bounce.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/effect-clip.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/effect-drop.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/effect-explode.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/effect-fade.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/effect-fold.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/effect-highlight.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/effect-puff.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/effect-pulsate.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/effect-scale.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/effect-shake.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/effect-size.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/effect-slide.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/effect-transfer.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/effect.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/menu.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/mouse.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/position.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/progressbar.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/resizable.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/selectable.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/selectmenu.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/slider.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/sortable.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/spinner.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/tabs.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/tooltip.js")
    script(type="text/javascript", src="/vendor/jquery-ui/ui/widget.js")
    script(type="text/javascript", src="/vendor/jquery.inputmask/dist/jquery.inputmask.bundle.min.js")
    script(type="text/javascript", src="/vendor/jqueryui-touch-punch/jquery.ui.touch-punch.min.js")
    script(type="text/javascript", src="/vendor/marked/lib/marked.js")
    script(type="text/javascript", src="/vendor/modernizr/modernizr.js")
    script(type="text/javascript", src="/vendor/moment/min/moment-with-locales.min.js")
    script(type="text/javascript", src="/vendor/morris.js")
    script(type="text/javascript", src="/vendor/morris.js/morris.js")
    script(type="text/javascript", src="/vendor/nestable/jquery.nestable.js")
    script(type="text/javascript", src="/vendor/ng-grid/build/ng-grid.min.js")
    script(type="text/javascript", src="/vendor/ng-grid/plugins/ng-grid-csv-export.js")
    script(type="text/javascript", src="/vendor/ng-grid/plugins/ng-grid-flexible-height.js")
    script(type="text/javascript", src="/vendor/ng-grid/plugins/ng-grid-layout.js")
    script(type="text/javascript", src="/vendor/ng-grid/plugins/ng-grid-pdf-export.js")
    script(type="text/javascript", src="/vendor/ng-grid/plugins/ng-grid-reorderable.js")
    script(type="text/javascript", src="/vendor/ng-grid/plugins/ng-grid-wysiwyg-export.js")
    script(type="text/javascript", src="/vendor/ng-img-crop/compile/unminified/ng-img-crop.js")
    script(type="text/javascript", src="/vendor/ng-nestable/src/angular-nestable.js")
    script(type="text/javascript", src="/vendor/ng-table-export/ng-table-export.js")
    script(type="text/javascript", src="/vendor/ng-table/dist/ng-table.min.js")
    script(type="text/javascript", src="/vendor/ngDialog/js/ngDialog.min.js")
    script(type="text/javascript", src="/vendor/ngInfiniteScroll/build/ng-infinite-scroll.js")
    script(type="text/javascript", src="/vendor/ngWig/dist/ng-wig.min.js")
    script(type="text/javascript", src="/vendor/parsleyjs/dist/parsley.min.js")
    script(type="text/javascript", src="/vendor/raphael/raphael.js")
    script(type="text/javascript", src="/vendor/rickshaw/rickshaw.js")
    script(type="text/javascript", src="/vendor/screenfull/dist/screenfull.js")
    script(type="text/javascript", src="/vendor/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js")
    script(type="text/javascript", src="/vendor/skycons/skycons.js")
    script(type="text/javascript", src="/vendor/slimScroll/jquery.slimscroll.min.js")
    script(type="text/javascript", src="/vendor/sweetalert/dist/sweetalert.min.js")
    script(type="text/javascript", src="/vendor/textAngular/dist/textAngular-rangy.min.js")
    script(type="text/javascript", src="/vendor/textAngular/dist/textAngular-sanitize.js")
    script(type="text/javascript", src="/vendor/textAngular/dist/textAngular-sanitize.min.js")
    script(type="text/javascript", src="/vendor/textAngular/dist/textAngular.js")
    script(type="text/javascript", src="/vendor/textAngular/dist/textAngular.min.js")
    script(type="text/javascript", src="/vendor/textAngular/dist/textAngularSetup.js")
    script(type="text/javascript", src="/vendor/textAngular/src/DOM.js")
    script(type="text/javascript", src="/vendor/textAngular/src/factories.js")
    script(type="text/javascript", src="/vendor/textAngular/src/globals.js")
    script(type="text/javascript", src="/vendor/textAngular/src/main.js")
    script(type="text/javascript", src="/vendor/textAngular/src/taBind.js")
    script(type="text/javascript", src="/vendor/textAngular/src/textAngular-sanitize.js")
    script(type="text/javascript", src="/vendor/textAngular/src/textAngularSetup.js")
    script(type="text/javascript", src="/vendor/textAngular/src/validators.js")
    // SCRIPTS END
